<link rel="stylesheet" href="/css/style.css">
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p style="text-align: center;">Copywright @ Mummineni</p>
  </div>
</div>
</body>
</html>
